body{
    height: 100dvh;
    width: 100dvw;
    background-image: url(../src/images/lake.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}
ul{
    list-style: none;
    display: flex;
    justify-content:center;
}
li:not(.items){
    width: 10dvw;
    margin: 20px;
    background-color: orange;
    min-height: 40px;
  
}
ul#menu{
padding-top: 5dvh;
padding-bottom: 5dvh;
padding-right: 3dvw;
}
#contact-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#content {
    width: fit-content; 
    margin: 0 auto; 
    
   }
   #content > *{
    margin-top: 5dvh;
    color: rgb(233, 243, 252);
    background-color: rgba(11, 177, 127, 0.452);
   }
   .cover:not(.hidden){
    background-color: red;
   }
  .cover{
    box-sizing: border-box;
    background-color: blue;
    color: white;
    padding: 20px;
    text-align: center;
   
   }
.menu>ul{
display: grid;
grid-template-columns: repeat(2, 25dvw);
grid-template-rows: repeat(5, 12dvh);
grid-gap: 10px;
}