ul{
    list-style: none;
    display: flex;
    justify-content:center;
}
li:not(.items){
    width: 10dvw;
    margin: 20px;
    background-color: orange;
    min-height: 40px;
  
}
#content {
    width: fit-content; 
    margin: 0 auto; 
    
   }
   .cover:not(.hidden){
    background-color: red;
   }
  .cover{
    box-sizing: border-box;
    background-color: blue;
    color: white;
    padding: 20px;
    text-align: center;
   
   }
.menu>ul{
display: grid;
grid-template-columns: repeat(2, 25dvw);
grid-template-rows: repeat(5, 12dvh);
grid-gap: 10px;
}